{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.last_seen %}
                <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <a href="{{ url_for('user.user_projects') }}">User Projects</a><br>
                <a href="{{ url_for('user.user_tasks') }}">User Tasks</a><br>
                {% if user == current_user %}
                <a href="{{ url_for('user.edit_profile') }}">Edit Profile</a><br>
                <a href="{{ url_for('user.create_project') }}">Create Project</a><br>
                {% else %}
                <a href="{{ url_for('user.add_to_project') }}">Add To Project</a><br>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
